Repository hmcts/pip-subscription-management, pull requests merged in 2022-12, with the labels that each got.

#116 PUB-1638 - Refresh Views
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/ViewControllerTests.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/ViewService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/ViewControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/ViewServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-116

#120 PUB-1598 Upgrade HMCTS logging components to latest version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-120

#131 PUB-1678 Java 17 upgrade
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-131

#132 Updated suppressions + spring
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-132

#118 PUB-1637 Delete Court
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-118
