Repository hmcts/pip-subscription-management, pull requests merged in 2022-09, with the labels that each got.

#80 Force upgrade snakeyaml version for CVE-2022-25857
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-80

#77 PUB-1512 Create endpoint for list type update
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/resources/mock/artefact.json
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionDto.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/LocationSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/helpers/SubscriptionUtils.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-77

#82 Updated the list types
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-82

#79 PUB-1526 Add SJP press register
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-79

#78 PUB-1401 - MI Endpoints
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-78

#83 New list types added
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-83
