Repository hmcts/pip-subscription-management, pull requests merged in 2022-06, with the labels that each got.

#51 Pub 1010 split subs by channel
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionsSummary.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionsSummaryDetails.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-51

#53 PUB-1312 - Updated to handle Sensitivity check
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-53

#56 PUB-1313 Stop duplicate subscriptions for a user
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-56

#55 Pub 1272 subscribe by list type
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Channel.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SearchType.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionsSummaryDetails.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/helpers/SubscriptionUtils.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-55

#57 PUB-1356 - Subscription Flow
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-57
