Repository hmcts/pip-subscription-management, pull requests merged in 2022-01, with the labels that each got.

#28 PUB-1005 Upgrade log4j2 and springboot version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-28

#30 Pub 738 - append updated subscription model to db
  README.md
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/RestTemplateConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionDto.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/RestTemplateConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/RestTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/helpers/SubscriptionHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
  src/test/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-30

#24 PUB-654 - Added findByUserId API
  README.md
  build.gradle
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SearchType.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionDto.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/CaseSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/CourtSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/UserSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/exceptions/SubscriptionNotFoundExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/helpers/SubscriptionUtils.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-24
