Repository hmcts/pip-subscription-management, pull requests merged in 2022-11, with the labels that each got.

#86 PUB-1551 Update MI data generation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-86

#109 CVE-31690, CVE-31692 and CVE-42252 fixes and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-109

#110 PUB-1199 Endpoint for bulk delete subscriptions
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-110

#106 PUB-1589 Table Updates + Flyway
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.dev.template.yaml
  charts/pip-subscription-management/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/GetWelcomeTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/flyway/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/exceptions/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionDto.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__migrate-fields.sql
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/flyway/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/exceptions/PendingMigrationScriptExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-106

#112 PUB-1595 - Materialised View
  README.md
  src/main/resources/db/migration/V1.2__mv.sql
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-112

#111 PUB-1595 - Account Infrastructure
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-subscription-management-pr-111

#114 PUB-1611 3rd party subscriptions
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/ListTypeSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/UserSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/MetadataService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/MetadataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-114

#119 CVE-2022-41946 Upgrade postgresql dependency
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-119
