Repository hmcts/pip-subscription-management, pull requests merged in 2022-07, with the labels that each got.

#63 log4j new suppression
  config/owasp/suppressions.xml
  src/smokeTest/java/uk/gov/hmcts/reform/pip/subscription/management/TestClass.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-63

#67 PUB-1246 - Updated List Types
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-67

#69 Updated chart version
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.dev.template.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-69

#68 Merge Develop to Master
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.dev.template.yaml
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-68
