Repository hmcts/pip-subscription-management, pull requests merged in 2022-08, with the labels that each got.

#71 PUB-1478 - Updated subscription management logs
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-71

#75 CVE-2022-31197 Update postgresql dependency to 42.4.1
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-75

#74 PUB-1513 Send deleted artefact information to publication services third party api endpoint
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/publication/services/ThirdPartySubscriptionArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-74

#72 PUB-1317 Added new endpoint to delete subscriptions by user id
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-72
