Repository hmcts/pip-subscription-management, pull requests merged in 2022-05, with the labels that each got.

#49 PUB-1084 - Service to service security
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/authentication/roles/IsAdmin.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/subscriptionmanagement/Court.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/RestTemplateConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/RestTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientCreationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/resources/application-test.yaml
  src/test/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-49

#43 Pub 1001 check subscribers
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/resources/mock/artefact.json
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/Language.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-43

#54 PUB-1291 - changed court instances to location to match updated logic
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/resources/mock/artefact.json
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SearchType.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/SubscriptionDto.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/data/management/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/LocationSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/UserSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/subscriptionmanagement/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/helpers/SubscriptionUtils.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-54

#52 PUB-1330 Add App Insights Key
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.yaml
  lib/AI-Agent.xml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-52
