Repository hmcts/pip-subscription-management, pull requests merged in 2023-07, with the labels that each got.

#251 Suppress CVE-2023-34462
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-251

#236 PUB-1995 Add testing support endpoints
  README.md
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.dev.template.yaml
  charts/pip-subscription-management/values.stg.template.yaml
  charts/pip-subscription-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-236

#238 PUB-1687 - Spring Boot V3
  bin/init.sh
  build.gradle
  charts/pip-subscription-management/values.dev.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfigTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-238

#252 PUB-2079 Update dependencies + gradle
  README.md
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-252

#256 Ignore trailing slash in spring boot v3 endpoints
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-256

#258 Updated nightly build
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-258

#260 Updated vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-260
