Repository hmcts/pip-subscription-management, pull requests merged in 2023-08, with the labels that each got.

#259 PUB-2084 - Updated App Insights to use connection string
  Dockerfile
  README.md
  charts/pip-subscription-management/Chart.yaml
  charts/pip-subscription-management/values.dev.template.yaml
  charts/pip-subscription-management/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-259

#268 PUB-1763 Remove Postgres role
  infrastructure/tf-db-main.tf
Labels: ns:pip, prd:pip, destroy, rel:pip-subscription-management-pr-268

#267 PUB-2119 - Updated dependencies + suppressions
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-267

#272 Fixed spring suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-272
