Repository hmcts/pip-subscription-management, pull requests merged in 2023-05, with the labels that each got.

#209 PUB-1732 Update logging
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/ChannelManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionNotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionNotificationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-209

#220 PUB-1996 - Dependency updates
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-220

#224 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-224

#222 PUB-2002 - Added partyName field
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/CaseSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-222

#223 PUB-1946 - Updated to the search model
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/response/CaseSubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-223
