Repository hmcts/pip-subscription-management, pull requests merged in 2023-09, with the labels that each got.

#271 PUB-2124 - Updated to rennovate
  .github/dependabot.yml
  .github/renovate.json
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-271

#283 PUB-2022 Add pre-authorize check to delete subscription by ID and bulk delete subscription endpoints
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportControllerTests.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-283

#282 PUB-2147 - Updated dependencies
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportController.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-subscription-management-pr-282
