Repository hmcts/pip-subscription-management, pull requests merged in 2023-02, with the labels that each got.

#160 PUB-1769 MI report enhancement
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-160

#172 PUB-1783 - Automate updating with base branch
  .github/update-pr.yml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-172

#163 PUB-1811 - Updated terraform and azure rm
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-subscription-management-pr-163

#174 PUB-1663 Clear Subscription
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/account/management/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/account/management/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/account/management/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/account/management/UserProvenances.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/external/publication/services/LocationSubscriptionDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionNotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/WebClientConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-174
