Repository hmcts/pip-subscription-management, pull requests merged in 2024-12, with the labels that each got.

#374 PUB-2249 - Refactor MI Endpoints to use Models
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-374

#385 Revert "PUB-2249 - Refactor MI Endpoints to use Models"
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-385

#382 PUB-2681 - Updated System Admin Alert
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesService.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionLocationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-382
