Repository hmcts/pip-subscription-management, pull requests merged in 2024-11, with the labels that each got.

#370 PUB 2648 Move functional tests into integration test folder
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/SubscriptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/AuthException.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/OAuthClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/TestUtil.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/ViewControllerTests.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/mock/artefact.json
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-370

#373 PUB-2650 - Monthly Dependencies
  Jenkinsfile_CNP
  README.md
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportControllerTests.java
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-subscription-management-pr-373

#375 PUB-2671 Remove SpringBootTest annotation from unit tests
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-375

#376 PUB-2673 Remove database set-up in selected integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/IntegrationBasicTestBase.java
  src/integrationTest/resources/application-integration-basic.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-376

#379 Merge Freeze into Master
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepositorySearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/utils/IntegrationBasicTestBase.java
  src/integrationTest/resources/application-integration-basic.yaml
  src/integrationTest/resources/application-integration-jpa.yaml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/PublicationServicesServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-379
