Repository hmcts/pip-subscription-management, pull requests merged in 2024-02, with the labels that each got.

#329 PUB-1619 - Added fortify
  Jenkinsfile_nightly
  README.md
  build.gradle
  config/fortify-client.properties
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-329

#332 PUB-1619 - Updated pipeline
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-332

#330 PUB-2293 - Dependency Updates
  .github/workflows/terraform_format.yml
  build.gradle
  charts/pip-subscription-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfig.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfigTest.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-subscription-management-pr-330

#331 PUB-2300 Add security to Swagger API
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/MetadataController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/ViewController.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-331

#333 PUB-2337 - Enable graceful shutdown
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-333
