Repository hmcts/pip-subscription-management, pull requests merged in 2024-01, with the labels that each got.

#318 PUB-2245 - Updated README
  README.md
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-318

#323 Merge code freeze branch to Master
  .github/workflows/terraform_format.yml
  README.md
  infrastructure/providers.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-subscription-management-pr-323

#325 PUB-2208 Update pip-data-models version for OPA results
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-325

#326 PUB-2280-Removed deprecated endpoints in subscription management
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-326

#324 PUB-2133 - Updated spring boot
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfigTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-324, enable_keep_helm

#327 PUB-2133 - Spring boot part 2
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/config/SpringSecurityConfigTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-327

#328 PUB-2133 - Updated spring boot 3
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/models/Subscription.java
Labels: ns:pip, prd:pip, enable_keep_helm, rel:pip-subscription-management-pr-328
