Repository hmcts/pip-subscription-management, pull requests merged in 2025-02, with the labels that each got.

#398 PUB-2708 - Update MI Endpoint
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/subscription/management/SubscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionController.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/repository/SubscriptionRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/controllers/SubscriptionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/subscription/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-398

#402 PUB-2758 Monthly dependency update
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/subscription/management/service/UserSubscriptionService.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-subscription-management-pr-402

#404 PUB-2755 Add SSCS Daily Hearing Lists
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-404

#403 PUB-2756 - Changes to First Tier Tribunal Hearing lists
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-subscription-management-pr-403
